/* styles.css */

body {
    font-family: Arial, sans-serif;
}

header {
    /*background-color: #f8f9fa;*/
    padding: 10px;
}


nav ul li a, h1, h2, h3, h4, h5, h6 {
    font-family: 'IM Fell English SC', serif;
}

p, li, span {
    font-family: 'IM Fell English', serif;
}

nav {
    /*background-color: rgba(255, 139, 0, 0.5);*/
    padding: 10px 50px 10px 50px;/*top, right, bottom, left padding */
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    position: relative;
    flex: 1;
    text-align: center;
}

nav ul li ul {
    display: none;
    position: absolute; /* Change from relative to absolute */
    right: 0; /* Add this line to align the submenu to the right edge of the parent li */
    background-color: rgba(50,50,50,1);
    padding: 2px;
    border-radius: 5px;
    width: 200px; /* Set a width for the drop-down */
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    display: block;
    text-align: center;
}


nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a.active {
    font-weight: bold;
    /*text-decoration: underline;*/
}

nav ul li a:hover {
    color: rgba(100, 100, 100, 1); /* Link color when hovered */
}

#logo-container {
    text-align: center; /* Centers the logo */
    padding-bottom: 10px; /* Adds some space between the logo and the tab section */
}

#logo {
    height: 50px;  /* You can adjust this value as needed to fit your design */
    width: auto;  /* This will keep the logo's aspect ratio consistent */
}

#search-bar {
    font-family: 'IM Fell English', serif; /* Replace 'Your Font' with the font you want to use */
}

section#home svg {
    width: 80vw;
    height: auto; /* Or use 100vh to take up full height */
    position: relative;  /* Ensures the SVG stays within the document flow */
}



/* Selects all a tags, changes their color and removes underline */
a {
    color: rgb(255, 68, 0);  /* Replace with the color you want for links */
    text-decoration: none;
}

/* Changes the color of a tags when hovered over */
a:hover {
    color: rgb(130, 130, 130);  /* Replace with the color you want for hovered links */
}

q {
  quotes: "“" "”" "‘" "’";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}


section {
    margin: 20px 0;
}

area {
    outline: none;
}

area:hover {
    outline: 2px solid #000;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
