/* styles.css */

body {
    font-family: Arial, sans-serif;
}

header {
    /*background-color: #f8f9fa;*/
    padding: 10px;
}


nav ul li a, h1, h2, h3, h4, h5, h6 {
    font-family: 'IM Fell English SC', serif;
}

p, li, span {
    font-family: 'IM Fell English', serif;
}


#mainNav {
  list-style-type: none;
  margin: 0;
  padding: 10px 50px 10px 50px;
  overflow: hidden;
  background-color: #333;  /* You can change this */
}

/* Style the list items to display inline with padding */
#mainNav li {
  float: left;
}

/* Style the links to add color, center the text and adjust the padding */
#mainNav li a {
  display: block;
  color: white;  /* You can change this */
  text-align: center;
  padding: 14px 16px;  /* You can change this */
  text-decoration: none;
}

/* Change the color on hover */
#mainNav li a:hover {
  background-color: rgba(245, 245, 245, 1);  /* You can change this */
  color: rgba(100, 100, 100, 1);
}

.subMenu li {
  float: none;
  background-color: #333;  /* You can change this */
}

.subMenu li a {
  padding: 12px 16px;  /* You can change this */
  text-decoration: none;
  display: block;
  text-align: left;
}

.subMenu li a:hover {
  background-color: #111;  /* You can change this */
}

/* Show the submenu on hover */
#mainNav li:hover .subMenu {
  display: block;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a.active {
    font-weight: bold;
    /*text-decoration: underline;*/
}


#logo-container {
    text-align: center; /* Centers the logo */
    padding-bottom: 10px; /* Adds some space between the logo and the tab section */
}

#logo {
    height: 70px;  /* You can adjust this value as needed to fit your design */
    width: auto;  /* This will keep the logo's aspect ratio consistent */
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align to the right */
}

#search {
    margin-right: 10px;
    padding: 0px;
    font-family: 'IM Fell English', serif; /* Change the font family */
    font-size: 14px; /* Adjust the font size as needed */
}

section#home svg {
    width: 80vw;
    height: auto; /* Or use 100vh to take up full height */
    position: relative;  /* Ensures the SVG stays within the document flow */
}

body {
  font-family: 'IM Fell English', serif; /* Default font for the whole page */
}

/* New font for articles */
article {
  font-family: 'IM Fell English', serif;
}

/* Selects all a tags, changes their color and removes underline */
a {
    color: rgb(255, 68, 0);  /* Replace with the color you want for links */
    text-decoration: none;
}

/* Changes the color of a tags when hovered over */
a:hover {
    color: rgb(130, 130, 130);  /* Replace with the color you want for hovered links */
}

q {
  quotes: "“" "”" "‘" "’";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}


section {
    margin: 20px 0;
}

area {
    outline: none;
}

area:hover {
    outline: 2px solid #000;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
